nav {
    background-color: rgba(0, 0, 0, 0.894); 
    color: #fff;
    text-align: right;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s; 
}

nav a:hover {
    color: #007BFF; 
}

body {
    font-family: Arial, sans-serif;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;
}


body {
    padding-top: 38px; 
}

.container {
    max-width: 800px;
    margin: 0 auto; 
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center; 
}

h1 {
    color: #ffcc00;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
}

.fun-fact {
    font-weight: bold;
    color: #FF5733;
}
